<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

    <meta property="og:site_name" content="Wallstilldawn"/>
    <meta property="og:title" content="Wallstilldawn - Rotational backgrounds"/>
    <meta property="og:url" content="https://wallstilldawn.com"/>

    <meta property="og:image" content="https://craftilldawn.com/wp-content/uploads/2016/10/Holiday_Desktop01.png"/>
    <meta property="og:description" content="Limited to 20 LATER Birds Short and sweet One New Background Every Holiday and Seasons Add our code and forget about it, we handle the rest.. It’s $4-6 a month / background. You will receive a minimum of 12 Backgrounds over the next 12 Months Decrease Bounce Rate , Increase User Engagement You'll always look up to date Intro ( Backstory) We've" /><meta name="keywords" content="minecraft art,minecraft artwork,minecraft artist,minecraft icons,minecraft themes,buycraft themes,minecraft shop icons,buycraft shop icons" /><meta name="description" content="Collection of premade Buycraft Icons and Enjin Icons for your Minecraft server donation shop." />


    <!--<link rel="shortcut icon" href="<%- markup -%>/favicon.ico">-->
    <link rel="shortcut icon" type="image/x-icon" href="//craftilldawn.com/wp-content/uploads/2013/09/craftilldawn-pack-icon.png" />
    <link rel="icon" type="image/x-icon" href="//craftilldawn.com/wp-content/uploads/2013/09/craftilldawn-pack-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Indie+Flower" rel="stylesheet">
    <title>Wallstilldawn - Rotational backgrounds</title>

  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
