@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans+Condensed:300,700');
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;

$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;


$bg-main: #203648; // #2a3844    #2a2f44
$text-main: #c7c7c7;

$color-primary: #FFF;
$color-secondary: #195faf;
 