.Select-control {
    width: 100%;
    height: auto;
    background: #efefef;
    padding: 15px 20px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999999;
}

.Select-menu-outer {
    left: 0px;
}

.Select.is-open {
    background: white;
    outline: 0;
    color: #333333;
    -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.21);
    border-color: #ababab;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
    font-size: 9pt;
    color: gray;
    top: 5px;
    line-height: inherit;
    padding: 15px 20px;
}

.Select--single > .Select-control .Select-value {
    display: flex;
    align-items: center;
    top: 0;
}

.Select-input {
    height: auto;
    padding: 0;
}
.Select.is-pseudo-focused,
.Select.is-focused {
    border: none !important;
    outline: 0 !important;
}
.Select-input > input {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: 5px;
    margin-left: 0 !important;
    font-size: 10pt !important;
    box-sizing: content-box;
    padding: initial !important;
    outline: 0 !important;
}
.Select-input > input:focus {
    outline: 0 !important;
}
.Select--multi .Select-value {
    margin-left: -11px;
    margin-top: 3px;
    border: 1px solid rgba(152, 212, 89, 0.45);
    background-color: rgba(152, 212, 89, 0.3);
    color: rgb(152, 212, 89);
}
.Select--multi .Select-value + .Select-value {
    margin-left: 5px;
}
