.errors {
    position: absolute;
    top: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 10pt;

    li {
        background: #1487ab;
        padding: 15px 15px 15px 40px;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 2px 0 0 #2ea9ad;
        position: relative;

        & + li {
            margin-top: 10px;
        }

        .icon {
            position: absolute;
            left: 15px;
            border: 0;
            background: 0;
            padding: 0;
            color: inherit;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
